[Unit]
Description=Dead simple makepkg builder server

[Service]
LimitNOFILE=65535
ExecStart=/usr/bin/saturated :80
Restart=always

[Install]
WantedBy=multi-user.target
